@tailwind base;
@tailwind components;
@tailwind utilities;

/* Table of contents */
.nextra-toc > div.nextra-scrollbar > div:last-child {
    @apply bg-background-light dark:bg-background-dark shadow-none;
}

/* Theme switcher and collapse */
aside.nextra-sidebar-container > div:last-child {
    @apply bg-background-light dark:bg-background-dark shadow-none;
}
